<div class="container-fluid w-100 py-5">
     <div class="col-lg-12">
          <div class="row">
               <div class="col-lg-6">
                    <h2 class="pb-5 text-center" id="predictionStatusText"><strong>Processing Document...</strong></h2>
                    <h2 class="pb-5 text-center" id="resultsText" style="display: none;"><strong>Get Results!</strong></h2>
                    <div class="row">
                         <h3 class="text-center col-4" id="predictionStatusIndicatorS1"></h3>
                         <h3 class="text-center col-4" id="predictionStatusIndicatorS2" style="color: gray;"></h3>
                         <h3 class="text-center col-4" id="predictionStatusIndicatorS3" style="color: gray;"></h3>
                    </div>
                    <div class="row pb-5">
                         <h5 class="text-center col-4"><img id="predictionStatusIndicatorS1Img" src="/assets/img/loader/step-1.png" class="text-center results-img-sm"></h5>
                         <h5 class="text-center col-4"><img id="predictionStatusIndicatorS2Img" src="/assets/img/loader/step-2-g.png" class="text-center results-img-sm"></h5>
                         <h5 class="text-center col-4"><img id="predictionStatusIndicatorS3Img" src="/assets/img/loader/step-3-g.png" class="text-center results-img-sm"></h5>
                    </div>
                    <div class="pb-5" id="curr-prog">
                         <div id="progbar"></div>
                    </div>
                    <div class="loader" style="display: none;">
                         <div class="ripple" id="ripple"></div>
                    </div>
                    <div class="d-flex justify-content-center">
                         <div>
                              <form action="/results" method="POST">
                                   <button class="btn btn-other my-3" name="results" id="results" style="display: none;">Get Results</button>
                              </form>
                         </div>
                    </div>
                    <div class="d-flex justify-content-center">
                         <div>
                              <form action="/" method="GET">
                                   <button class="btn btn-cancel my-3" id="cancelBtn">Cancel</button> 
                              </form>
                         </div>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="px-3">
                         <div class="row px-3">
                             <div class="col-12 p-0">
                                 <div data-spy="scroll" data-target="#list" data-offset="0" class="scrollspy p-4">
                                        <h1 class="blk-txt bold-text text-center">Relevant Statements in the Document</h1>
                                   <h4 id="collect-data" class="title center-align"><img class="results-img-sm py-3" src="/assets/img/results/doc.png" alt=""> Collecting Data  </h4>
                                        <% if(statements.collectingData.length > 0) { %>
                                             <% statements.collectingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                             <% }) %>
                                        <% } %>
                    
                                   <hr class="py-4">        
                         
                                   <h4 id="using-data" class="title center-align"><img class="results-img-sm py-3" src="/assets/img/results/pie.png" alt=""> Using Data </h4>
                                        <% if(statements.usingData.length > 0) { %>
                                             <% statements.usingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                             <% }) %>
                                        <% } %>
                         
                                   <hr class="py-4">
                         
                                   <h4 id="share-data" class="title center-align"> <img class="results-img-sm py-3" src="/assets/img/results/share.png" alt=""> Sharing Data </h4>
                                        <% if(statements.sharingData.length > 0) { %>
                                             <% statements.sharingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                        <% }) %>
                                   <% } %>
          
                                 </div>
                             </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function(){
          duration = '<%= totalStmtCount %>' * 200;

          document.getElementById('predictionStatusIndicatorS1').innerHTML = '01 <br> Analyzing Statements';
          document.getElementById('predictionStatusIndicatorS2').innerHTML = '02 <br> Calculating Statistics';
          document.getElementById('predictionStatusIndicatorS3').innerHTML = '03 <br> Preparing <br> Results';

          setTimeout(function(){
               document.getElementById('predictionStatusIndicatorS1').style.color = "gray";
               document.getElementById('predictionStatusIndicatorS1Img').src = "/assets/img/loader/step-1-g.png";
               document.getElementById('predictionStatusIndicatorS2').style.color = "#07DA63";
               document.getElementById('predictionStatusIndicatorS2Img').src = "/assets/img/loader/step-2.png";

               document.getElementById("progbar").style.animation = "step1 2s";
               document.getElementById("progbar").style.width = "33%";
               
          }, ('<%= totalStmtCount %>'/2)*200)

          setTimeout(function(){
               document.getElementById('predictionStatusIndicatorS2').style.color = "gray";
               document.getElementById('predictionStatusIndicatorS2Img').src = "/assets/img/loader/step-2-g.png";
               document.getElementById('predictionStatusIndicatorS3').style.color = "#07DA63";
               document.getElementById('predictionStatusIndicatorS3Img').src = "/assets/img/loader/step-3.png";

               document.getElementById("progbar").style.animation = "step2 2s";
               document.getElementById("progbar").style.width = "66%";
               
          }, ('<%= totalStmtCount %>'/1.5)*200)

          setTimeout(function(){
               document.getElementById('predictionStatusIndicatorS1').style.color = "#07DA63";
               document.getElementById('predictionStatusIndicatorS1Img').src = "/assets/img/loader/step-1.png";
               document.getElementById('predictionStatusIndicatorS2').style.color = "#07DA63";
               document.getElementById('predictionStatusIndicatorS2Img').src = "/assets/img/loader/step-2.png";
               document.getElementById('ripple').remove()
               document.getElementById('cancelBtn').remove()
               document.getElementById('predictionStatusText').style.display = "none";
               document.getElementById('resultsText').style.display = "block";
               document.getElementById('results').style.display = "block";

               document.getElementById("progbar").style.animation = "step3 2s";
               document.getElementById("progbar").style.width = "100%";
               
          }, duration)

          document.getElementById('cancelBtn').addEventListener("click", function(){
               return;
          })
     })

     // function move() {
     //      if (i == 0) {
     //           i = 1;
     //           var elem = document.getElementById("progbar");
     //           var width = 1;
     //           var id = setInterval(frame, 10);
     //           function frame() {
     //                if (width >= 100) {
     //                     clearInterval(id);
     //                     i = 0;
     //                } else {
     //                     width++;
     //                     elem.style.width = width + "%";
     //                }
     //           }
     //      }
     // }
</script>
