<div class="container-fluid w-100 py-5">
     <div class="col-lg-12">
          <div class="row">
               <div class="col-lg-6">
                    <h2 class="py-2 text-center" id="predictionStatusText">Analyzing Document...</h2>
                    <div class="d-flex justify-content-center">
                         <div style='float: left; padding-left: 5px;'>
                              <form action="/results" method="POST">
                                   <button class="btn btn-other my-3" name="results" id="results" style="display: none;">Get Results</button>
                              </form>
                         </div>
                    </div>
                    <div class="loader">
                         <div class="ripple" id="ripple"></div>
                    </div>
                    <div class="py-5"></div>
                    <div class="d-flex justify-content-center">
                         <div style='float: left; padding-left: 5px;'>
                              <form action="/" method="GET">
                                   <button class="btn btn-cancel my-3" id="cancelBtn">Cancel</button> 
                              </form>
                         </div>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="px-3">
                         <div class="row px-3">
                             <div class="col-12 p-0">
                                 <div data-spy="scroll" data-target="#list" data-offset="0" class="scrollspy p-4">
                                        <h1 class="blk-txt bold-text text-center">Relevant Statements in the Document</h1>
                                   <h4 id="collect-data" class="title center-align"><img class="results-img-sm py-3" src="/assets/img/results/doc.png" alt=""> Collecting Data  </h4>
                                        <% if(statements.collectingData.length > 0) { %>
                                             <% statements.collectingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                             <% }) %>
                                        <% } %>
                    
                                   <hr class="py-4">        
                         
                                   <h4 id="using-data" class="title center-align"><img class="results-img-sm py-3" src="/assets/img/results/pie.png" alt=""> Using Data </h4>
                                        <% if(statements.usingData.length > 0) { %>
                                             <% statements.usingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                             <% }) %>
                                        <% } %>
                         
                                   <hr class="py-4">
                         
                                   <h4 id="share-data" class="title center-align"> <img class="results-img-sm py-3" src="/assets/img/results/share.png" alt=""> Sharing Data </h4>
                                        <% if(statements.sharingData.length > 0) { %>
                                             <% statements.sharingData.forEach((statement)=>{ %>
                                                  <div class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                        <% }) %>
                                   <% } %>
                    
                                   <hr  style="display: none" class="py-4">
                         
                                   <h4 id="update-tos" style="display: none" class="title center-align"> <img class="results-img-sm py-3" src="/assets/img/results/update.png" alt=""> Updating TOS </h4>
                                        <% if(statements.updatingToS.length > 0) { %>
                                             <% statements.updatingToS.forEach((statement)=>{ %>
                                                  <div  style="display: none" class="alert alert-info w-100 mx-auto" id="loader-alert">
                                                       <h5><%= statement %></h5>
                                                  </div>
                                             <% }) %>
                                        <% } %>
          
                                 </div>
                             </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function(){
          duration = '<%= totalStmtCount %>' * 200
          setTimeout(function(){
               document.getElementById('ripple').remove()
               document.getElementById('cancelBtn').remove()
               document.getElementById('predictionStatusText').innerHTML = 'Results are Ready!';
               document.getElementById('results').style.display = "block";
          }, duration)

          document.getElementById('cancelBtn').addEventListener("click", function(){
               return;
          })
     })
</script>
