<div class="container-fluid w-100 py-5">
    <!-- recommendation message -->

    <div class="row">
        <div class="col-lg-8 center-align">
            <div class="row py-2">
                <div class="col">
                    <h3>Recommendation Summary for <br><%= info.documentName %></h3>
                </div>
            </div>
            <% if (ratings.sharingDataRating > 0) { %>
                <h3><strong style="color: var(--red-);">HIGH RISK LEVEL</strong></h3>
                <img class="results-img py-4" src="/assets/img/results/reject.png" alt="reject">
                <h4 style="color: var(--red-);">TOSS found the document <br><strong><%= info.documentName %></strong><br> to contain HIGH RISK LEVEL statements.</h4>
                <p>The document <%= info.documentName %> that you have uploaded for analysis has statements that allow the distribution of your data.</p>
            <% }else if (ratings.usingDataRating > 0) { %>
                <h3><strong style="color: var(--orange-)">MODERATE RISK LEVEL</strong></h3>
                <img class="results-img py-4" src="/assets/img/results/caution.png" alt="caution">
                <h4 style="color: var(--orange-)">TOSS found out that there are statements about data collection and usage which might put you at a MODERATE RISK LEVEL.</h4>
                <p>The document <%= info.documentName %> contains terms that gather your data as part of the conditions, which might be misused for processes beyond the intended purpose.</p>
            <% }else { %>
                <h3><strong style="color: var(--wgreen-);">MINIMAL RISK LEVEL</strong></h3>
                <img class="results-img py-4" src="/assets/img/results/good.png" alt="good">
                <h4>TOSS thinks there is only a MINIMAL RISK LEVEL for the document <br><strong><%= info.documentName %></strong>.</h4>
                <p>The document <%= info.documentName %> does not require the collection and usage of your data as part of the agreement.</p>
            <% } %>
        </div>
        <div class="col-lg-4 center-align box">
            <div class="py-2">
                <div class="col">
                    <h3>Category Analytics</h3>
                    <h5>ambiguous statements per category</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <img class="results-img-xs py-2" src="/assets/img/results/pie.png" alt="">
                    <h5>Collecting Data</h5>
                    <h6><%= ratings.collectingDataRating %> statements</h6>
                </div>
                <div class="col-6">
                    <img class="results-img-xs py-2" src="/assets/img/results/doc.png" alt="">
                    <h5>Using Data</h5>
                    <h6><%= ratings.usingDataRating %> statements</h6>
                </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-12">
                    <img class="results-img-xs py-2" src="/assets/img/results/share.png" alt="">
                    <h5>Sharing Data</h5>
                    <h6><%= ratings.sharingDataRating %> statements</h6>
                </div>
                <div style="display:none;" class="col-6">
                    <img class="results-img-xs py-2" src="/assets/img/results/update.png" alt="">
                    <h5>Updating TOS</h5>
                    <h6><%= ratings.updatingToSRating %> statements</h6>
                </div>
            </div>
            <div class="py-2">
                <div style="margin-bottom: 10px;">
                    <h3>Document Statistics</h3>
                </div>
                <div class="row">
                    <div class="col-8 text-left">Number of Pages: </div>
                    <div class="col-4 text-center"><%= numpages %></div>
                </div>
                <div class="row">
                    <div class="col-8 text-left">Number of Statements: </div>
                    <div class="col-4 text-center"><%= statementCount %></div>
                </div>
                <div class="row">
                    <div class="col-8 text-left">Number of Lawful Statements Detected: </div>
                    <div class="col-4 text-center"><%= goodPredictionCount %></div>
                </div>
                <div class="row">
                    <div class="col-8 text-left">Number of Unlawful Statements Detected: </div>
                    <div class="col-4 text-center"><%= badPredictionCount %></div>
                </div>
            </div>
            <div class="py-2">
                <form action="/results/download" method="POST" id="">
                    <label class="btn btn-primary">Download Report<a href='#' target="_blank"><button type="submit" name="downloadReport" id="downloadReport" class='upload-btn'></a></label>
               </form>
            </div>
        </div>
    </div>

    <!-- end of recommendation message -->

    <hr class="center-align w-100 my-4">

    <!-- statements evaluation -->

    <div>
        <h1 class="text-center pb-3">Assessment results for each statement</h1>
        <div class="statementsEvaluation w-100">
    
            <h2 class="statementEvaluationCategory my-4 pl-3 py-3">Collecting Data Statements</h2>
            <% count = 0 %>
            <% statements.collectingData.forEach((statement)=>{ %>
                <div class="row">
                    <div class="col-10">
                        <% if(count % 2 == 0){ %>
                            <h5 class="text-justify"><%= statement %></h5>
                        <% } else { %>
                            <h5 class="text-justify wht-txt"><%= statement %></h5>
                        <% } %>
                   </div>
                   <div class="col-2">
                        <% if(predictions.collectingPrediction[count] == 0) { %>
                            <h5 class="text-center bold-text evaluationLabelBad">BAD</h5>
                        <% } else { %>
                            <h5 class="text-center bold-text evaluationLabelGood">GOOD</h5>
                        <% } %>
                  </div>
                </div>
                <% count++ %>
            <% }) %>
    
            <h2 class="statementEvaluationCategory my-4 pl-3 py-3">Using Data Statements</h2>
            <% count = 0 %>
            <% statements.usingData.forEach((statement)=>{ %>
                <div class="row">
                    <div class="col-10">
                        <% if(count % 2 == 0){ %>
                            <h5 class="text-justify"><%= statement %></h5>
                        <% } else { %>
                            <h5 class="text-justify wht-txt"><%= statement %></h5>
                        <% } %>
                   </div>
                   <div class="col-2">
                        <% if(predictions.usingPrediction[count] == 0) { %>
                            <h5 class="text-center bold-text evaluationLabelBad">BAD</h5>
                        <% } else { %>
                            <h5 class="text-center bold-text evaluationLabelGood">GOOD</h5>
                        <% } %>
                  </div>
                </div>
                <% count++ %>
            <% }) %>
    
            <h2 class="statementEvaluationCategory my-4 pl-3 py-3">Sharing Data Statements</h2>
            <% count = 0 %>
            <% statements.sharingData.forEach((statement)=>{ %>
                <div class="row">
                    <div class="col-10">
                        <% if(count % 2 == 0){ %>
                            <h5 class="text-justify"><%= statement %></h5>
                        <% } else { %>
                            <h5 class="text-justify wht-txt"><%= statement %></h5>
                        <% } %>
                   </div>
                   <div class="col-2">
                        <% if(predictions.sharingPrediction[count] == 0) { %>
                            <h5 class="text-center bold-text evaluationLabelBad">BAD</h5>
                        <% } else { %>
                            <h5 class="text-center bold-text evaluationLabelGood">GOOD</h5>
                        <% } %>
                  </div>
                </div>
                <% count++ %>
            <% }) %>
    
            <h2  style="display: none" class="statementEvaluationCategory my-4 pl-3 py-3">Updating ToS Statements</h2>
            <% count = 0 %>
            <% statements.updatingToS.forEach((statement)=>{ %>
                <div  style="display: none" class="row">
                    <div class="col-10">
                        <% if(count % 2 == 0){ %>
                            <h5 class="text-justify"><%= statement %></h5>
                        <% } else { %>
                            <h5 class="text-justify wht-txt"><%= statement %></h5>
                        <% } %>
                   </div>
                   <div class="col-2">
                        <% if(predictions.updatingPrediction[count] == 0) { %>
                            <h5 class="text-center bold-text evaluationLabelBad">BAD</h5>
                        <% } else { %>
                            <h5 class="text-center bold-text evaluationLabelGood">GOOD</h5>
                        <% } %>
                  </div>
                </div>
                <% count++ %>
            <% }) %>
        </div>
    </div>


    <!-- end of statements evaluation -->

    <hr class="center-align w-100 my-4">

    <div class="px-3">
        <div class="text-center">
            <h1 class="pb-3">Learn more about the document evaluation</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-4">
                    <h4 class="text-center">MINIMAL RISK LEVEL</h4>
                    <p class="text-justify">The MINIMAL RISK LEVEL is a label used for the Terms of Service (ToS) documents that do not require the collection and usage of the information of an individual.</p>
                </div>
                <div class="col-4">
                    <h4 class="text-center" style="color: var(--orange-)">MODERATE RISK LEVEL</h4>
                    <p class="text-justify">The MODERATE RISK LEVEL is a label used for the Terms of Service (ToS) documents that use data as part of certain operations and functions of an organization.</p>
                </div>
                <div class="col-4">
                    <h4 class="text-center" style="color: var(--red-);">HIGH RISK LEVEL</h4>
                    <p class="text-justify">The HIGH RISK LEVEL is a label used for the Terms of Service (ToS) documents with statements that allow companies to disclose data to entities outside their boundaries, such as third-parties.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>